{#
/**
 * @file
 * Theme override for the login page.
 */
#}
<div class="eden-login-page">
  <div class="eden-login-container">
    <div class="eden-login-box">
      <div class="eden-login-header">
        <h1>{{ 'Eden'|t }}</h1>
        <p class="eden-login-subtitle">{{ 'Document, track, and monitor human rights violations.'|t }}</p>
      </div>
      {{ page.content }}
    </div>
  </div>
</div> 